@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/* --------- HEADER --------- */

header {
  height: 115px;
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div {
  margin-left: 111px;
}
header img {
  width: 60px;
}

header h1 {
  margin-left: 65px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

/* --------- FOOTER --------- */
footer {
  height: 115px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  text-align: center;
}
footer span {
  font-weight: bold;
}

/* --------- COUNTER --------- */
/* --------- COUNTER --------- */
/* --------- COUNTER --------- */

button:hover {
  cursor: pointer;
}

/* --------- VALUE CASE --------- */
.box {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  background-color: #5c48d3;
  border-radius: 15px;
}

.value span {
  font-weight: 400;
  font-size: 96px;
  line-height: 117px;
  color: white;
}

/* --------- BUTTONS CASE --------- */

.counter-boxes {
  margin: 150px 0;
}

.counter-boxes > * {
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

button {
  border: none;
  background: none;
  font-size: 64px;
}

/* --------- RESET BUTTONS CASE --------- */

.reset-button {
  font-style: normal;

  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: white;

  background-color: #5c48d3;
  border-radius: 15px;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* --------- MEDIA --------- */
/* --------- MEDIA --------- */
/* --------- MEDIA --------- */

@media (max-width: 768px) {
  /* --------- MEDIA HEADER --------- */
  header h1 {
    font-size: 32px;
    flex: 1;
  }

  header div {
    margin-left: 10px;
  }

  header {
    justify-content: space-around;
  }

  .counter-boxes {
    margin: 5% 0;
  }
  .counter-boxes > div {
    flex-direction: column;
    align-items: center;
  }

  .counter-boxes > div :nth-child(2) {
    order: 1;
  }
  .counter-boxes > div :not(:nth-child(2)) {
    order: 2;
  }
}
